.ratings {
  display: flex;
  justify-content: space-between;
}

.ratingButton {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #e0e1e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingButton:hover {
  background-color: #fff;
  border: 3px solid #00CA9B;
  color: #00CA9B;
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

.horizontal-line {
  background-color: #e0e1e2;
  height: 5px;
}